@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#homepageCover {
  background: url("/shoe-cover.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.banner-desc {
  margin-top: 45%;
}

#favoritesGallery {
  height: 400px;
  width: 100%;
  margin: 40px auto;
}

.galleryItem {
  height: 400px;
  width: 100%;
  ;
}

 #mediumImage > h3 {
  --bs-heading-color: rgb(163, 179, 190);
}

#lightImage > h3 {
  --bs-heading-color: rgb(50, 55, 59);
}

#darkImage > h3 {
  --bs-heading-color: slategrey;
}
